@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
.azeret-mono{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common item */
.title{
    width: 1260px;
    height: 160px;
    margin-bottom: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.title>h1{
    color: rgb(13, 19, 33);
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}
.title>p{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    opacity: .7;
}
.nav{
    margin:  65px 130px;
    display: flex;
    justify-content: space-between;
    
}
.nav>h3{
    font-size: 25px;
    font-weight: 700;
}
.nav>button{
    position: static;
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 21px;
    font-size: 17px;
    font-weight: 600;
}
.header{
    padding: 26px 221px 44px;
    width: 1920px;
    min-height: 870px;
    background-image: url(../asets/Hero-bg.png);
    background-size: cover;
}
 .header-container{
    
    min-height: 770px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-container> img{
    width: 320px;
    height: 320px
}
.header-container>h1{
    width: 1330px;
    height: 181px;
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.header-container>p{
    position: static;
    width: 852px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    color: #0D1321;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.header-container>a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    width: 280px;
    height: 87px;
    padding: 28px 32px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}
.motive{
    width: 1520px;
    height: 1860px;
    margin: 99px 203px 143px 200px;
    padding: 107px 130px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    border-radius: 21px;
    background: rgba(13, 19, 33, 0.02);
}

.motive-container{
    position: static;
    width: 1260px;
    height: 1429px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
}

.motive-content{
    position: static;
    width: 1261px;
    height: 448px;
    display: flex;
    justify-content: space-between;
    padding: 64px;
    border-radius: 22px;
}
.left{
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

}
.right{
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.motive-discription{
    position: static;
    width: 596px;
    height: 294px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.motive-discription>h1{
    width: 520px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgba(13, 19, 33, 0.7);
    font-size: 30px;
    font-weight: 800;
}
.motive-discription>p{
    color: rgb(13, 19, 33);
    font-size: 21px;
    font-weight: 400;
    line-height: 34px;
}
.motive-discription>button{
    position: static;
    width: 200px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 26px;
    box-sizing: border-box;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 26px;
    font-weight: 600;
    line-height: 229px;

}


.inspiration{
    width: 1520px;
    height: 1008px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 65px;
    align-items: center;
    padding: 0px;
    margin: 0px 203px 202px 200px;
}

.inspiration-description{
    position: static;
    width: 1136px;
    height: 153px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.inspiration>iframe{
    position: static;
    width: 1520px;
    height: 818px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 21px;

    padding: 41px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.target{
    width: 1520px;
    height: 1923px;
    margin: 0px 203px 62px 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 

}
.target-current{
    position: static;
    width: 100%;
    height: 1215px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.target-current> .container{
    position: static;
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.target-current>.container>.content{
    position: static;
    width: 485px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 55px;
    border-radius: 16px;
}
.target-current>.container>.one{
    background: rgba(255, 76, 30, 0.05);
}
.target-current>.container>.two{
    background: rgba(0, 76, 232, 0.05);
}
.target-current>.container>.three{
    background: rgba(255, 223, 0, 0.05);
}
.target-current>.container>.content>img{
    /* html-5 1 */
    position: relative;
    width: 56px;
    height: 56px;
}
.target-current>.container>.content>h1{
    color: rgb(13, 19, 33);
    font-size: 33px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
}

.target-current>.container>.content>p{
    
    color: rgb(13, 19, 33);
    opacity: .7;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
}

.target-current>.container>.content>a{
    color: rgb(13, 19, 33);
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0%;
    text-decoration-line: underline;
}


#footer{
    position: absolute;
    width: 100%;
    height: 134px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 42px 200px;
    border-radius: 21px;
    background: rgba(13, 19, 33, 0.03);
}
#footer>h3{
    color: rgb(13, 19, 33);
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}


